html, body {
    background-color: rgb(51, 0, 51);
    min-height: 100%;
}

/* body {
    display: grid;
    align-content: center;
    justify-content: center;
} */

.border-container {
    position: relative;
}

.border-container::before {
    content: "";
    top: 0; left: 0;
    box-sizing: border-box;
    width: 99%;
    height: 99%;
    position: absolute;
    align-self: center;
    background: url(./graphics/bouquet.jpg);
    background-size: 95%;
    filter: grayscale(25%);
    opacity: 0.75;
}

.border-container-inside {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 4vh 25vh 44vh;
    position: relative;
    border: 20px outset rgb(176, 96, 225);
    border-radius: 30px;
    box-shadow: 20px 20px rgb(94, 31, 109);
}

.grid-item-1-logo {
    font-family: "Pinyon Script", cursive;
    grid-row: 1;
    grid-column-end: span 2;
    color: antiquewhite;
    font-size: 2.5vw;
    letter-spacing: 3.5px;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 97%;
    width: auto;
    padding-top: 1.6vh;
}

.grid-item-2-display {
    font-family: 'Codystar', cursive;
    box-sizing: border-box;
    grid-column-end: span 2;
    background-color: #260121;
    width: 85%;
    height: 20vh;
    align-self: center;
    margin: 0 auto;
    text-align: justify;
    padding-top: -0.5%;
    font-size: 0.38vw;
    color:rgb(255, 190, 244);
    font-weight: bolder;
    border: 3px double rgb(187, 13, 152);
    border-radius: 30px;
}

.grid-item-3-game-mode {
    grid-column: 1 / 2;
    box-sizing: border-box;
    background: linear-gradient(120deg, darkgray, rgb(128, 0, 111));
    font-family: 'Marcellus', serif;
    text-align: right;
    align-self: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 22.5% 22.5% 22.5% 22.5%;
    width: 70%;
    height: 90%;
    padding: 5%;
    border: 3px outset antiquewhite;
    border-radius: 30px;
}

#game-mode-head-text {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: right;
    font-size: 1.3vw;
    font-weight: bolder;
    text-decoration-line: underline;
}

#game-mode-button-1 {
    grid-column-start: 1;
    grid-row-start: 2;
}

#game-mode-text-1 {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: right;
    font-size: 1.3vw;
}

#game-mode-button-2 {
    grid-column-start: 1;
    grid-row-start: 3;
}

#game-mode-text-2 {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: right;
    font-size: 1.3vw;
}

#game-mode-button-3 {
    grid-column-start: 1;
    grid-row-start: 4;
}

#game-mode-text-3 {
    grid-column-start: 2;
    grid-row-start: 4;
    text-align: right;
    font-size: 1.3vw;
}

#game-mode-button-4 {
    grid-column-start: 1;
    grid-row-start: 5;
}

#game-mode-text-4 {
    grid-column-start: 2;
    grid-row-start: 5;
    text-align: right;
    font-size: 1.3vw;
}

.grid-item-4-sound-bank {
    grid-column: 2 / 3;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(120deg, darkgray, rgb(128, 0, 111));
    font-family: 'Marcellus', serif;
    align-self: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 22.5% 22.5% 22.5% 22.5%;
    width: 70%;
    height: 90%;
    padding: 5%;
    border: 3px outset antiquewhite;
    border-radius: 30px;
}

#sound-bank-head-text {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: right;
    font-size: 1.3vw;
    font-weight: bolder;
    text-decoration-line: underline;
}

#sound-bank-button-1 {
    grid-column-start: 1;
    grid-row-start: 2;
}

#sound-bank-text-1 {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: right;
    font-size: 1.3vw;
}

#sound-bank-button-2 {
    grid-column-start: 1;
    grid-row-start: 3;
}

#sound-bank-text-2 {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: right;
    font-size: 1.3vw;
}

#sound-bank-button-3 {
    grid-column-start: 1;
    grid-row-start: 4;
}

#sound-bank-text-3 {
    grid-column-start: 2;
    grid-row-start: 4;
    text-align: right;
    font-size: 1.3vw;
}

#sound-bank-button-4 {
    grid-column-start: 1;
    grid-row-start: 5;
}

#sound-bank-text-4 {
    grid-column-start: 2;
    grid-row-start: 5;
    text-align: right;
    font-size: 1.3vw;
}

.grid-item-5-pads {
    grid-column-start: 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 23% 23% 23% 23%;
    gap: 2%;
}

.drumpad {
    background-color: rgb(40, 0, 59);
    border: 5px groove rgb(141, 7, 114);
    border-radius: 30px;
    font-family: 'Marcellus', serif;
    font-size: 5vw;
    opacity: 0.8;
    text-shadow: 4px 4px rgb(255, 190, 244);
}